body {
  background-color: #dfdddd;
    padding-top: 100px;
}

.carousel {
  position: relative;
}

.titulo {
  display: block;
  position: absolute;
  z-index: 2;
  top: 38%;
  left: 2%;
  background-color: rgba(71, 77, 230, 0.65);
}

.titulo > h2 {
  position: relative;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 50px;
  text-align: left;
  margin: 0;
  padding: 0;
}



/* edit carusel bootstrap just to fix img{height} & position carusel */
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-height: 100%;
    line-height: 1;
    margin: 0 auto;
    max-width: 100%;
}
.carousel {
  position: relative;
  bottom: 50px;
}

/*
@media only screen and (max-width : 765px) {
  #ul-right{
    display:none;
  }
}
*/

.places-run-bsas h2{
  text-align: center;
}

.places-run-bsas article{
  margin-top: 50px;
  margin-bottom: 50px;
}

.places-run-bsas article img{
  width: 100%;
  display: inline-block;
  padding-top: 30px;
}


footer {
  width: 100%;
  position:absolute;
  bottom:0;
  left:0;
  right: 0;
  background-color: #030202;
  height: 100px;
}

.copyright{
  color: #f1f1f1;
  padding-top: 37.5px;
}

@media all and (min-width: 766px) and (orientation:landscape) {
  .titulo {
    top: 30%;
  }
}

@media all and (min-width: 766px) and (orientation:portrait) {
  .titulo {
    top: 20%;
  }
}

@media only screen and (max-width: 765px) {
  .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    max-height: 400px;
    max-width: 1300px;
    position: relative;
    top: 0;
    left: -257.5px;
    bottom: 0;
    right: 0;
  }
}

@media only screen and (max-width: 480px) {
  .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    max-height: 400px;
    max-width: 1300px;
    position: relative;
    top: 0;
    left: -410px;
    bottom: 0;
    right: 0;
  }
}

@media only screen and (min-width: 766px) {
  .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    max-height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
