body {
  font-family: 'catamaranmedium', sans-serif;
  padding-top: 51px;
  background-position: 0px 150px;
  background-size: 25%;
  background-color: #ffffff; }

.container-fluid {
  background-color: #ffffff; }

.flex-nav-container {
  background: #ffffff;
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border-style: ridge none;
  border-width: thin;
  border-color: #a3a3a3; }

@media (min-width: 844px) {
  .flex-nav-container {
    display: none; }
  .icon-nav {
    visibility: hidden; } }

.icon-nav {
  width: 50px; }

.container {
  margin-top: 10px;
  margin-left: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .container .item-events {
    display: none; }
  .container .item-publications {
    width: 100%;
    background-color: #f5f5f7;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .container .item-publications .create-post {
      margin-top: 20px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 95%;
      background-color: #ffffff; }
    .container .item-publications .user-img {
      min-width: 50px;
      min-height: 50px;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      margin-top: 5px;
      margin-left: 5px; }
    .container .item-publications .form-publication {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-left: 10px;
      margin-top: 10px;
      margin-right: 10px;
      width: 100%; }
      .container .item-publications .form-publication .text-form {
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
        border-color: #a6a6a6;
        outline: none;
        margin-bottom: 10px;
        width: 100%; }
      .container .item-publications .form-publication #form-files {
        position: relative;
        width: 100px; }
      .container .item-publications .form-publication #btn_file {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0; }
      .container .item-publications .form-publication #submit-publication {
        color: #FFF;
        background: #ed1515;
        border: none;
        border-radius: 5px;
        margin-bottom: 10px; }
    .container .item-publications .publication-container {
      width: 95%;
      height: 150px;
      margin: 10px;
      background-color: #ffffff;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: auto; }
    .container .item-publications .detail-publication {
      margin-left: 10px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      margin-right: 10px; }
      .container .item-publications .detail-publication .user-info-publication {
        width: 100%; }
      .container .item-publications .detail-publication .comments-publication {
        height: auto; }
      .container .item-publications .detail-publication .comment-publication {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        background-color: #f5f5f7;
        margin-top: 10px;
        margin-bottom: 10px; }
        .container .item-publications .detail-publication .comment-publication .detail-comment-publication {
          margin-left: 10px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
          flex-flow: row wrap; }
      .container .item-publications .detail-publication .text-comment-publication {
        margin-left: 10px; }

.item-map {
  display: none; }
  .item-map #map {
    display: none; }

@media (min-width: 480px) and (max-width: 843px) {
  .container .item-events {
    display: none; }
  .container .item-publications {
    width: 100%;
    background-color: #f5f5f7;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .container .item-publications .publication {
      width: 95%;
      height: 150px;
      margin: 10px;
      background-color: #ffffff; } }

@media (min-width: 844px) {
  .container {
    width: 70%;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .container .item-events {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 10px;
      margin: 10px;
      background-color: #f5f5f7;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start; }
      .container .item-events .create-event {
        background-color: #ffffff; }
      .container .item-events .my-events {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-top: 10px; }
        .container .item-events .my-events .event {
          margin-top: 10px;
          background-color: #ffffff; }
    .container .item-publications {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 70%;
      -ms-flex: 1 1 70%;
      flex: 1 1 70%;
      background-color: #f5f5f7;
      padding: 10px;
      margin: 10px; }
      .container .item-publications .publication {
        height: 150px;
        margin: 10px;
        background-color: #ffffff; }
  .item-map {
    display: block;
    position: fixed;
    right: 0px;
    top: 50px;
    width: 30%;
    height: 600px;
    background-color: #f5f5f7; }
    .item-map #map {
      display: inline-block;
      width: 100%;
      height: 100%; } }

fieldset {
  margin: 0;
  padding: 0;
  border: 0; }
  fieldset input {
    display: block;
    width: 100%;
    height: 3em;
    padding: 16px 8px;
    border: 0;
    border-radius: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    background: rgba(255, 255, 255, 0.97);
    color: #212121;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }

.form-label fieldset {
  position: relative; }
  .form-label fieldset:first-child input {
    border-radius: 4px 4px 0 0; }
  .form-label fieldset:last-child input {
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15); }
  .form-label fieldset + fieldset {
    border-top: 1px solid #ddd; }

.form-label label {
  position: absolute;
  top: 15px;
  left: 8px;
  color: #909090;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.form-js-label input[data-empty="false"], .form-js-label input:focus {
  padding: 22px 8px 10px; }

.form-js-label input:focus {
  outline: 0;
  background: white; }

.form-js-label input[data-empty="false"] + label,
.form-js-label input:focus + label {
  color: #5856D6;
  font-weight: 700;
  font-size: 12px;
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0); }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-weight: 200;
  height: 100%; }

.section {
  width: 90%;
  min-width: 320px;
  margin: 0px auto;
  text-align: center;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.1);
  color: #fff; }
  .section form {
    margin: 0 auto 20px; }

.codebar {
  display: none; }

#date {
  text-align: left; }

.radio-male {
  position: relative !important;
  margin-left: 0%; }

.radio-female {
  position: relative !important;
  margin-left: 20%; }
