@import _colors.sass
@import _mixins.sass


body
  font-family: 'catamaranmedium', sans-serif
  padding-top: 51px
  background-position: 0px 150px
  background-size: 25%
  background-color: $background-color

// bootstrap nav background-color
.container-fluid
  background-color: $background-color

//<-- NAV SMARPHONE AND TABLE
.flex-nav-container
    background: $background-color
    list-style-type: none
    display: flex
    flex-direction: row
    justify-content: space-around
    border-style: ridge none
    border-width: thin
    border-color: #a3a3a3
@include tablet
// keep icons
@include desktop
  .flex-nav-container
    display: none
  .icon-nav
    visibility: hidden
.icon-nav
  width: 50px
//-->


// SECTIONS EVENTS-PUBLICATIONS-MAP
// Mobile first
.container
  margin-top: 10px
  margin-left: 0px
  display: flex
  flex-flow: row
  align-items: center
  .item-events
    display: none
  .item-publications
    width: 100%
    background-color: $primary-color
    display: flex
    flex-flow: column
    align-items: center
    // publication style
    .publication
      width: 95%
      height: 150px
      margin: 10px
      background-color: $background-color
.item-map
  display: none
  #map
    display: none

@include tablet
  .container
    .item-events
      display: none
    .item-publications
      width: 100%
      background-color: $primary-color
      display: flex
      flex-flow: column
      align-items: center
      // publication style
      .publication
        width: 95%
        height: 150px
        margin: 10px
        background-color: $background-color

@include desktop
  .container
    width: 70%
    align-items: flex-start
    .item-events
      flex: 1 1 auto
      padding: 10px
      margin: 10px
      background-color: $primary-color
      display: flex
      flex-direction: column
      align-items: flex-start
      .create-event
        background-color: $background-color
      .my-events
        display: flex
        flex-direction: column
        align-items: flex-start
        margin-top: 10px
        .event
          margin-top: 10px
          background-color: $background-color
    .item-publications
      flex: 1 1 70%
      background-color: $primary-color
      padding: 10px
      margin: 10px
      // publication style
      .publication
        height: 150px
        margin: 10px
        background-color: $background-color
  .item-map
    display: block
    position: fixed
    right: 0px
    top: 50px
    width: 30%
    height: 600px
    // map style
    background-color: $primary-color
    #map
      display: inline-block
      width: 100%
      height: 100%
